<footer>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</footer>
<script type="text/javascript" src="/js/dark-light-theme.js">
</script>
</body>
</html>
