<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Craig Fletcher (leakypixel)">
<meta name="description" content="Craig Fletcher's personal site.">
<meta name="viewport" content=
"width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css">
<title>{{ meta.title }} - leakypixel.net</title>
</head>
<body>
  <header>

    <div class="logo"><a href="/">{{{ meta.svgs.pixel }}}</a></div>
<div class="switches">
  <button class="lightswitch"
          onclick="lightMode(true)"
          name="Light mode"
          title="Light mode">
    {{{ meta.svgs.sun-solid }}}
  </button>
  <button class="darkswitch"
          onclick="darkMode(true)"
          name="Dark mode"
          title="Dark mode">
    {{{ meta.svgs.moon-solid }}}
  </button>
</div>
</header>
