/* Font imports */
@font-face {
  font-family: 'Eau Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Eau Sans Book'), url(fonts/Eau-SansBook.woff) format('woff');
}

@font-face {
  font-family: 'Lato light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato light'), url(fonts/lato-light.woff) format('woff');
}


/* Typography */
$headingTypeface: 'Eau Sans', sans-serif;
$bodyTypeface: 'Lato light', sans-serif;
$iconTypeface: 'lp-icons';
$oldBrowserRootSize: 16px;
$rootFontSize: 1vw;

/* Colours */
$white: #fdfdfd;
$black: #0c0c0c;
$blockColour: #0E0F0E;
$accentColour: #E6B415;

