@import 'settings';

header {
  font-size: 1.5vw;
  font-family: $headingTypeface;
  font-weight: 700;
  text-align: center;
  height: 15.5em;
  padding: 1.4em 2em 2em 2em;
  overflow: hidden;
  background: $blockColour;
  color: $white;
  border-top: 0.6em solid $accentColour;

  h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 0.8em;
    margin-top: 0;
  }
}

body {
  padding-bottom: 0.6em;

  &:after {
    content: "if you really really love me, you could email me at hi@leakypixel.net";
    display: block;
    font-size: 0.6em;
    color: #999;
    text-align: center;
    margin-top: 1em;
  }
}

.my-ugly-mug {
  max-width: 7em;
  max-height: 7em;
  border-radius: 50%;
  border: 0.2em solid $white;
}

@media only screen and (max-width:800px){
  header {
    font-size: 4.8vw;
    padding: 5vw 2vw;
  }

  header {
    height: auto;
  }
}

