header {
  padding: 1vw 2vw;
  background: #293332;
  overflow: hidden;
  border-top: 8px solid #D6C60F;
  font-size: 0.8vw;

  h1 {
    margin: 0.5vw 0 0 0;
  }

  h2 {
    margin: 0 0 0.5vw 0;
  }
}

.header-text {
  padding: 0.1vw 2vw;
  font-family: sans-serif;
  color: #fff;
  width: 80%;
  float: left;
}

.my-ugly-mug {
  border-radius: 50%;
  max-width: 7em;
  max-height: 7em;
  margin: 0 auto;
  border: 0.4em solid #fff;
  float: left;
}

@media only screen and (max-width:800px){
  header .header-text,
  header .my-ugly-mug{
    float: none;
    text-align: center;
    display: block;
    color: #fcfcfc;
    width: 100%;
  }

  body, header {
    font-size: 2.4vw;
  }
}
