@import 'settings';


header {
  padding: 1.6vw 2vw;
  background: $blockColour;
  overflow: hidden;
  border-top: 8px solid $accentColour;
  font-size: 0.8vw;
  height: 32vw;

  h1 {
    font-weight: 700;
    font-size: 4em;
    margin: 0.5vw 0 0 0;
  }

  h2 {
    margin: 0 0 0.5vw 0;
  }
}

.header-text {
  padding: 0.1vw 2vw;
  font-family: $headingTypeface;
  color: $white;
  width: 80%;
  float: left;
}

.my-ugly-mug {
  border-radius: 50%;
  max-width: 7em;
  max-height: 7em;
  margin: 0 auto;
  border: 0.4em solid $white;
  float: left;
}
