header {
  font-family: $headingTypeface;
  text-align: left;
  padding: 4.4em 5em 5em 5em;
  overflow: hidden;
  background: $blockColour;
  color: $white;
  border-top: 0.6em solid $accentColour;

  h1,
  h2 {
    margin-top: 0;
    font-weight: 300;
    display: inline;
  }
}

body {
  padding-bottom: 0.6em;
}

@media only screen and (max-width:800px){
  header {
    padding: 1em;
  }
}

