html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  background: #ff0 url(../img/header-background.png) 50% 0 no-repeat fixed; 
  height: 600px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
}

header h1 {
  background: url(../img/header-logo.png) no-repeat scroll center top transparent;
  height: 120px;
  position: absolute;
  text-indent: -9999px;
  bottom: 50px;
  width: 100%;
  background-size: contain;
}

section {
  height: 710px;
}
