@font-face{
	font-family:'Elusive-Icons';
	src:url('/includes/fonts/elusive-icons.ttf') format('truetype')}

a.twitter:before,a[href^="http://"]:after,a.email:before,a.github:before,a.home:before{
	font-family:'Elusive-Icons';
	font-size:12px;
	text-rendering:auto}

a[href^="http://"]:after{
	content:" \e03b  "}

a.twitter:before{
	content:"\e018  "}

a.email:before{
	content:"\e0eb  "}

a.github:before{
	content:"\e0b6  ";
	font-size:13px}

a.home:before{
	content:"\e0e0  "}

a.home{
	position:absolute;
	top:5px;
	left:25px;
	text-decoration:none}

@media print{
	#main-content a[href]:after{
		" ("attr(href)")"}
}