/* Font imports */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans.woff) format('woff');
}

@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  src: local('Orienta'), url(../fonts/orienta.woff) format('woff');
}


/* Basic styling */
* {
  margin: 1%;
  line-height: 150%;
  border-radius: 3px;
}

header {
  margin: 0 0 1% 0;
  padding: 2%;
}

section {
  max-width: 1024px;
  margin: 1% auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

p, span, div, ul, li {
  font-size: 20px;
  padding: 1%;
}

ul {
  padding-left: 3%;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5%;
  font-family: 'Orienta', sans-serif;
}

img {
  width: 100%;
}

img.small {
  max-width: 400px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: 700;
}

hr {
  height: 2px;
  padding: 0;
  border: none;
  background-color: #ccc;
  border-radius: 100%;
  margin: 4em 0;
}

hr.pagebreak {
  visibility: hidden;
}

@media print{
  a:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }

  hr.pagebreak {
    page-break-after: always;
  }
  
  .nopagebreak, h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}
