header {
  min-height: 16vw;
  padding: 1vw;
  background: linear-gradient(#f1c40f 10%, #fff 10%);
  overflow: hidden;
}

header .header-text {
  font-size: 1.4vw;
}
.header-text p {
  font-size: 1.2em;
  width: 100%;
}

.header-text h1 {
  font-size: 2em;
  padding: 0 2%;
  margin: 0;
}

header .my-ugly-mug {
  border-radius: 50%;
  width: 12vw;
  max-width: 240px;
  margin: 0 auto;
  border: 10px solid #fff;
}

@media only screen and (max-width:800px){
  header {
    background: linear-gradient(#fff 20%, #f1c40f 20%);
  }

  header .header-text,
  header .my-ugly-mug{
    max-width: none;
    float: none;
    text-align: center;
    display: block;
    font-size: 2.4vw;
  }
}
