{{> header }}
<section>
  {{{ item.content }}}
</section>
<section class="article-meta">
  <span>Published: {{ item.added.date }}-{{ item.added.month
    }}-{{item.added.year}}</span>
  <span>Comments, corrections and hatemail to hi at this domain.</span>
</section>
{{> footer }}
